<!DOCTYPE html>
<html lang="en">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://i.imgur.com/mvPmzAP.png"
    />
    <script src="/client/scripts/utils.js"></script>
    <script src="/client/scripts/main.js"></script>

    <title>Battleship</title>
    <script type="text/javascript">
      window.history.forward();
      function noBack() {
        window.history.forward();
      }
    </script>
  </head>
  <style>
    #hide {
      display: block;
    }
    #show {
      display: none;
    }
    #background {
      background-image: url(https://i.imgur.com/yVelP37.jpg);
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    body {
      margin: 0px;
      width: 100vw;
      height: 100vh;
    }
    #topBtn > span {
      cursor: pointer;
      font-size: 1.1em;
      color: white;
      padding: 15px 10px 15px 10px;
      border-radius: 50%;
    }
    #cancel {
      background-color: #c62828;
    }
    #start {
      background-color: #43a047;
    }
  </style>

  <body id="background">
    <audio id="myaudio2">
      <source src="/client/audio/battle.mp3" type="audio/mpeg" />
    </audio>
    <div id="topBtn" style="padding-left: 20px; padding-top: 20px">
      <span id="start">Start</span>

      <span id="cancel">Stop</span>
    </div>
    <div id="hide"><%- include('partials/choseGame') %></div>
    <div id="show"><%- include('partials/game') %></div>
  </body>
</html>
