<!DOCTYPE html>
<html lang="en">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://i.imgur.com/mvPmzAP.png"
    />
    <title>Battleship</title>
    <script type="text/javascript">
      window.history.forward();
      function noBack() {
        window.history.forward();
      }
    </script>
  </head>
  <style>
    #hide {
      display: block;
    }
    #show {
      display: none;
      overflow: auto;
    }
    #background {
      background-image: url(https://i.imgur.com/yVelP37.jpg);
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    body {
      margin: 0%;
    }
  </style>

  <body id="background">
    <div id="hide">
      <%- include('partials/choseGame') %>
    </div>
    <div id="show">
      <%- include('partials/game') %>
    </div>
  </body>

  <script>
    var username = localStorage.getItem("username");
    var email = localStorage.getItem("email");
    var points = localStorage.getItem("points");

    var token = localStorage.getItem("authorization");
    if (token) {
      $.ajax({
        url: "/user/" + email,
        async: false,
        type: "GET",
        headers: {
          authorization: token
        },
        success: function(data) {
          console.log("DATA FROM GET");
          var number = data.data;
          console.log(number);

          localStorage.setItem("points", number);
          $("#points").append(number);
        },
        error: function(data) {
          console.log(data);
        }
      });
    }
    var boats;
    verify();

    $("#tourn").click(PlayTournament);
    $("#logout").click(Logout);
    $("#leaderboard").click(function() {
      changePageTo("leaderboard");
    });
    $("#chooseShips").click(function() {
      changePageTo("placeships");
    });

    var socket;

    //************************************Buttons****************************************

    function verifyFunction() {
      if (boats) {
        Play1vs1();
      } else {
        alert("Go pick some boats");
      }
    }

    //Play 1 contra 1
    function Play1vs1() {
      socket = io.connect();

      socket.emit("join", username, email, points, boats);

      var id = this.id;
      var modal = document.getElementById("myModal");
      modal.style.display = "block";

      var span = document.getElementsByClassName("close")[0];

      span.onclick = function() {
        modal.style.display = "none";
        socket.emit("leaveWaiting", function() {
          console.log("Disconnected from server.");
        });
      };

      socket.on("changePage", function(data) {
        if (data.success == true) {
          $("#hide").css("display", "none");
          $("#show").css("display", "block");
          // $("#show").css({ display: "block", overflow: "auto" });

          console.log("Starting game");
          $("#game-number").html(data.gameID);
          //Game.initGame();
          afterConnect();
        }
      });
    }
    //Botao jogar torneio
    function PlayTournament() {
      alert("Bora jogar Tournament!!");
    }
    //logout
    function Logout() {
      var token = localStorage.getItem("authorization");
      var email = localStorage.getItem("email");
      if (token) {
        $.ajax({
          url: "/user/logged",
          async: true,
          type: "POST",
          data: { email: email },
          headers: {
            authorization: token
          },
          success: function(data) {
            console.log(data);
            if (data.success == true) {
              window.location = "/";
              localStorage.clear();
            }
          },
          error: function(data) {
            console.log(data);
          }
        });
      } else {
        window.location = "/";
        localStorage.clear();
      }
    }
    //Mostra a Leaderboard

    //Escolhe a estrategia(posição) dos barcos

    //Trata de tudo depois de conectar a socket
    function afterConnect() {
      //SAIU DO JOGO
      socket.on("disconnect", function() {
        console.log("Disconnected from server.");
        $("#game").hide();
      });

      //QUANDO FAZ UPDATE DO JOGO
      socket.on("update", function(gameState) {
        Game.setTurn(gameState.turn);
        Game.updateGrid(gameState.gridIndex, gameState.grid);
      });

      //CHAT
      socket.on("chat", function(msg) {
        $("#messages").append(
          "<li><strong>" + msg.name + ":</strong> " + msg.message + "</li>"
        );
        $("#messages-list").scrollTop($("#messages-list")[0].scrollHeight);
      });

      // NOTIFICA QUE SAIU DO JOGO
      socket.on("notification", function(msg) {
        $("#messages").append("<li>" + msg.message + "</li>");
        $("#messages-list").scrollTop($("#messages-list")[0].scrollHeight);
      });

      //NOTIFICAÇÃO PARA O UTILIZADOR QUE GANHOU
      socket.on("opponentleft", function(msg) {
        $("#messages").append("<li>" + msg.message + "</li>");
        $("#messages-list").scrollTop($("#messages-list")[0].scrollHeight);
        socket.emit("opponentleft", { id: socket.id });
      });

      //ACABA O JOGO
      socket.on("gameover", function(isWinner) {
        Game.setGameOver(isWinner);
      });

      socket.on("leave", function() {
        $("#game").hide();
      });

      //ENVIAR MENSAGEM
      $("#message-form").submit(function() {
        socket.emit("chat", $("#message").val());
        $("#message").val("");
        return false;
      });

      var GameStatus = {
        inProgress: 1,
        gameOver: 2
      };
    }

    function changePageTo(goTo) {
      var token = localStorage.getItem("authorization");
      if (token) {
        $.ajax({
          url: "/verify",
          async: true,
          type: "GET",
          headers: {
            authorization: token
          },
          success: function(data) {
            console.log("DATA FROM VERIFY");
            console.log(data.success);

            if (data.success) {
              if (data.success == true) {
                window.location = "/" + goTo + "/" + token.substring(0, 5);
              }
            }
          },
          error: function(data) {
            console.log(data);
          }
        });
      }
    }
    function verify() {
      if (token) {
        $.ajax({
          url: "/ships/" + email,
          async: false,
          type: "GET",
          headers: {
            authorization: token
          },
          success: function(data) {
            console.log(data);
            if (data.success == true) {
              boats = data.data.ships;
            }
          },
          error: function(data) {
            console.log(data);
          }
        });
      } else {
        console.log("No permissions");
        boats = null;
      }
      $("#umvsum").click(verifyFunction);
    }
  </script>
</html>
