<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://i.imgur.com/mvPmzAP.png"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />

    <title>Battleship</title>
    <script type="text/javascript">
      window.history.forward();
      function noBack() {
        window.history.forward();
      }
    </script>
  </head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

  <style>
    @import url("https://fonts.googleapis.com/css?family=Lobster");

    .body {
      background-image: url(https://i.imgur.com/GPL5cPT.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      height: 100vh;
    }
    .test {
      margin-top: 0%;
      padding-top: 5%;
      text-align: center;
      font-size: 100px;
      font-family: Lobster, cursive;
      text-align: center;
      color: rgb(255, 255, 255);

      text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    }
    .body .container_test {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      width: 80%;
    }
  </style>

  <body>
    <audio autoplay id="myAudio">
      <source
        src="https://dc552.4shared.com/img/gvYdGGq_ea/1fb2fd08/dlink__2Fdownload_2FgvYdGGq_5Fea_2Fsound.mp3_3Fsbsr_3Dea46b84a7888e9382d511b1e3fe05d00a32_26bip_3DMTkzLjEzNi4yMzIuNA_26lgfp_3D52_26bip_3DMTkzLjEzNi4yMzIuNA/preview.mp3"
        type="audio/mpeg"
      />
    </audio>

    <div class="body">
      <h1 class="test">Age of BattleShip 2</h1>
      <div class="container_test">
        <%- include('partials/user_partial') %> <%-
        include('partials/register_partial') %>
      </div>
    </div>
  </body>
  <script>
    var x = document.getElementById("myAudio");
    console.log(x);
    $("#user_btn").click(sendLogin);
    $("#register_btn").click(sendRegister);
    setInterval(function() {
      playAudio2();
    }, 10);

    function sendRegister() {
      changeroute();
      var not_empty = [];
      var valid = [];

      valores = [];
      elementos = [];

      valores.push(
        form_regist.Username.value,
        form_regist.email.value,
        form_regist.password.value
      );
      elementos.push(
        form_regist.Username,
        form_regist.email,
        form_regist.password
      );

      removeMessages(".form-label-group");
      valid.push(validString(form_regist.Username.value, form_regist.Username));
      valid.push(validateEmail(form_regist.email.value, form_regist.email));
      valid.push(validString(form_regist.password.value, form_regist.password));

      for (var i = 0; i < valores.length; i++) {
        not_empty.push(validateEmpty(valores[i], elementos[i]));
      }

      if (valid.reduce(and) && not_empty.reduce(and)) {
        console.log("entrou");

        var content = {
          name: form_regist.Username.value,
          email: form_regist.email.value,
          password: form_regist.password.value
        };
        postData("/register", content);
      }
    }

    function sendLogin() {
      changeroute();
      var not_empty = [];
      var valid = [];

      valores = [];
      elementos = [];

      valores.push(form_login.email.value, form_login.password.value);
      elementos.push(form_login.email, form_login.password);

      removeMessages(".form-label-group");
      valid.push(validateEmail(form_login.email.value, form_login.email));
      valid.push(validString(form_login.password.value, form_login.password));

      for (var i = 0; i < valores.length; i++) {
        not_empty.push(validateEmpty(valores[i], elementos[i]));
      }

      if (valid.reduce(and) && not_empty.reduce(and)) {
        console.log("entrou");
        var content = {
          email: form_login.email.value,
          password: form_login.password.value
        };
        postData("/login", content);
      }
    }

    function postData(url, content) {
      console.log(content);
      $.post(url, content, function(data) {
        if (data.success == false) {
          alert(data.message);
        } else {
          localStorage.setItem("username", data.data.name);
          localStorage.setItem("points", data.data.points);
          localStorage.setItem("email", data.data.email);
          localStorage.setItem("authorization", data.authorization);
          changeroute();
          //VAI BUSCAR
          // console.log(localStorage.getItem("authorization"));
        }
        console.log(data);
      });
    }

    function validateEmpty(content, element) {
      if (content == "") {
        $(element).css("background", "#ffcccc");
        $(element).attr("placeholder", "Campo abrigatório");
        return false;
      } else {
        return true;
      }
    }

    function validateEmail(content, element) {
      if (!content.match(/^[a-zA-Z0-9]*@[a-z]*\.(com|pt|org)$/)) {
        $(element).css("background-color", "#ebdf5e");
        $(element).after(
          '<p style="color:#c2b100"> Formatação de email incorrecta </p>'
        );
        return false;
      } else {
        return true;
      }
    }

    function validString(content, element) {
      if (!content.match(/^[a-zA-Z0-9]+/)) {
        $(element).css("background-color", "#ebdf5e");
        $(element).after(
          '<p style="color:red;margin:0px"> Formatação de campo incorrecta </p>'
        );
        return false;
      } else {
        return true;
      }
    }

    function and(a, b) {
      return a && b;
    }

    function removeMessages(string) {
      $(string)
        .children()
        .filter("p")
        .remove();
    }
    function changeroute() {
      var token = localStorage.getItem("authorization");
      if (token) {
        $.ajax({
          url: "/verify",
          async: true,
          type: "GET",
          headers: {
            authorization: token
          },
          success: function(data) {
            console.log(data);
            if (data.success == true) {
              window.location = "/chose/" + token.substring(0, 5);
            }
          },
          error: function(data) {
            console.log(data);
          }
        });
      } else {
        console.log("No permissions");
        return;
      }
    }

    function playAudio2() {
      x.play();
    }
  </script>
</html>
