<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <head>
      <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
      <link
        rel="shortcut icon"
        type="image/x-icon"
        href="https://i.imgur.com/mvPmzAP.png"
      />
      <title>Battleship</title>
    <title>Document</title>
  </head>
  <style></style>
  <body>
      <button id="voltar">Go back</button>
    <div>
     

    </div>

  </body>
  <script>
      var token = localStorage.getItem("authorization");
      console.log(token);
  $("#voltar").click(function(){
    window.location = "/chose/" + token.substring(0, 5);
  });
  </script>
</html>
